<p id="notice"><%= notice %></p>

<p>
  <strong>Transaction number:</strong>
  <%= @transaction.transaction_number %>
</p>


<p>
  <strong>Ticket price:</strong>
  <%= @transaction.ticket_price %>
</p>

<p>
  <strong>Address:</strong>
  <%= @transaction.address %>
</p>



